@import './variables.scss';

.marketplace {
    padding-top: 1rem;
    margin: 0 auto;
    width: 100%;

    .marketplaceHeader{
        font-size: 1.5rem;
        font-weight: 700;
    }

    .marketPlaceInput {
        margin-top: 2.5rem;

        input{
            padding: 0.5rem 0;
            width: 100%;
            padding-left: 0.5rem;
            border-radius: 0.375rem;
            background: $navbarBg;
            color: $semiWhite;
        }
    }
}