* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;  
  line-height: 1.4;
  font-size: 16px;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  .scrollmenuLinks {
    display: inline-block;
    text-align: center;
  }

  &::-webkit-scrollbar {
    // display: none;
  }
}




.sidenav {
  font-size: 15px;
}

.logo {
  // width: 29px;
  height: 35px;
}

.ip2 {
  background: #0768B5;
}

.navbar {
  background: #f4f9f8;
}

.inp {
  background: #ecf5f8;
}

.actives {
  background: rgba(47, 159, 248, 0.1);
  color: #2f9ff8;
}